<p>Seleccione un Vehículo</p>
  <mat-form-field>
    <mat-select name="vehiculos" [formControl]="vehicleCtrl" placeholder="Vehículos" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="vehicleFilterCtrl" [placeholderLabel]="'Buscar Vehículos...'"  ></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let vehicle of filteredVehicle | async" [value]="vehicle">
        {{vehicle.patente}} - {{vehicle.modelo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<p>Seleccione las fechas</p>

<!-- Calendario para poner fecha desde --> 
<mat-form-field>
  <input required matInput [matDatepicker]="myDatePicker" [(ngModel)]="fechaDesde" placeholder="Fecha desde">
  <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field>

<br>

<p>Ingrese hora desde</p>
<div class="ngx-timepicker-field-example">
  <ngx-timepicker-field [format]="24" [controlOnly]="true" [defaultTime]="'0:00'" [(ngModel)]="horaDesde"></ngx-timepicker-field>
</div>


<br>

<!-- Calendario para poner fecha hasta --> 
<mat-form-field>
  <input required matInput [matDatepicker]="myDatePicker2" [(ngModel)]="fechaHasta" placeholder="Fecha hasta">
  <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker2></mat-datepicker>
</mat-form-field>

<br>

<p>Ingrese hora hasta</p> <!-- ESTE CAMPO NO SE SABE AUN SI SERA PARA HACER UN RANGO DE HORARIOS O SERA UN SELECCIONABLE "DURATE X TIEMPO" -->
<div class="ngx-timepicker-field-example">
  <ngx-timepicker-field [format]="24" [controlOnly]="true" [defaultTime]="'0:00'" [(ngModel)]="horaHasta" ></ngx-timepicker-field>
</div>

<br>

<mat-dialog-actions>

  <button [disabled]="!fechaDesde || !fechaHasta || fechaDesde > fechaHasta || !vehicleCtrl.value || !horaDesde" mat-button (click)="verOnline()">Ver Online</button>
  <!-- Boton de cierre -->

  <button class="btnClose" mat-button mat-dialog-close>CLOSE</button>

</mat-dialog-actions>



